@{
    ViewData["Title"] = "Assignment";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
Harrisburg is the capital city of the Commonwealth of Pennsylvania in the United States, and the county seat of Dauphin County. With a population of 49,192, it is the 15th largest city in the Commonwealth. It lies on the east bank of the Susquehanna River, 107 miles (172 km) west of Philadelphia. Harrisburg is the anchor of the Susquehanna Valley metropolitan area, which had a 2017 estimated population of 571,903,[8] making it the fourth most populous in Pennsylvania and 96th most populous in the United States.
</address>