@{
    ViewData["Title"] = "Members";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    326 Market Street<br />
    Harrisburg, PA17101<br />
    <abbr title="Phone">P:</abbr>
    717.901.5100
</address>

<address>
    <strong>Jiazi Wu:</strong> <a href="mailto:JWu17@my.harrisburgu.edu">JWu17@my.harrisburgu.edu</a><br />
    <strong>Yunzheng Zhang:</strong> <a href="mailto:Yzhang29@my.harrisburg.edu">Yzhang29@my.harrisburg.edu</a>
</address>
